<h2>Contact.</h2>
<h3>How to contact us</h3>

<address>
    <strong>project leader:</strong> <a href="mailto:krzychuwr1@gmail.com">krzychuwr1@gmail.com</a><br />
    <strong>developer:</strong> <a href="mailto:krzysztof.surulo@gmail.com">krzysztof.surulo@gmail.com</a><br />
    <strong>developer:</strong> <a href="mailto:piotr.puszkarski@gmail.com">piotr.puszkarski@gmail.com</a><br />
    <strong>developer:</strong> <a href="mailto:piotrgrap@gmail.com">piotr.maciejowski@gmail.com</a><br />
</address>
