@model MniamMniam.ViewModels.CreateRecipeViewModel
@{
    ViewData["Title"] = "Create";
}
 
<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Recipe</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">    
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" maxlength="30"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Image</label>
            <div class="col-md-10">
                <input type="file" name="files" style="margin-top: 6px;" multiple />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Text" class="form-control" cols="40" rows="10" maxlength="200"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Tags</label>
            <div class="col-md-10">
                <select asp-for="SelectedTags" class="form-control" asp-items="@Model.AllTags">
                    <option>Please select tags</option>
                </select>
                </div>
            </div>

        <div id="ingredientsList">
            <div class="form-group" id="firstIngredient">
                <label class="col-md-2 control-label">Ingredient</label>
                <div class="form-inline">
                    <div class="col-md-10">
                        <select asp-for="SelectedIngredient" class="form-control" asp-items="@Model.AllIngredients" id="testoweId">
                            <option>Please select one</option>
                        </select>
                        <input asp-for="SelectedIngredientAmount" class="form-control" min="1" step="1" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="anotherIngredient" value="Add another ingredient" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
</div>




</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
